.item1 { grid-area: header; 
    width: 100%;
    font-family: sans-serif;
    color: #ff41c6;
    font-size: larger;
   
}
.item3 { grid-area: main; }

.item5 { grid-area: footer;
  font-family: sans-serif;
  color: #ff41c6;
  }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';

  padding: 5px;

}


iframe{
  border: none;
}
.grid-container > div {
  background-color: #210051;
  text-align: center;
  padding: 5px 0;
  font-size: 10px;
}
hr{
  background-color: #06ffff;
  
}
a{
  color: #06ffff;
  font-family: sans-serif;
}
button{
  background-color: #06ffff;
  color: #210051;
  font-family: sans-serif;
  font-size: small;
}